@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.loginBackground{
    background-image: url('assets/backgroundDark.png');
    background-repeat: no-repeat;
    background-size: cover;
}   