@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.loginBackground{
    background-image: url('../public/assets/backgroundDark.png');
    background-repeat: no-repeat;
    background-size: cover;
}   
.convButton{
    border-right: 1px solid;
}
.conButton{
    border-left: 1px soild;
}
.pfp{
    background-image: url('../public/assets/pfp.jpg');
    background-size: cover;
}
@media (max-width: 768px) {
    .sidebar{
        width: 40%;
    }
    .openConversation{
        width: 60%;
    }
    .buttonsDiv{
        flex-direction: column;
    }
    .sidebarConvoContact{
        width: 100%;
    }
    .firstSidebarDiv{
        flex-direction: column;
        align-items: center;
    }
    .pfpIdDiv{
        flex-direction: column;
        margin-bottom: 6px;
    }
    .modalBtn{
        font-size: 1em;
    }
}
@media (max-width: 1730px) {
    .sidebarConvoContact{
        font-size: small;
    }
}